body,
html {
    height: 100%;
}

.navbar-brand {
    margin-right: 0;
}

.navbar {
    background-color: white;
    opacity: 0.9;
}

.colour-block {
    text-align: center;
    background: #0066a1;
    width: 100%;
    padding: 7% 5% 10% 5%;
    color: #fff;
}

.colour-block .card {
    color: #0066a1;
}

.white-block {
    text-align: center;
    background: #fff;
    width: 100%;
    padding: 7% 5% 10% 5%;
    color: #0066a1;
}

.college-block {
    text-align: center;
    background-image: url(images/college.jpg);
    width: 100%;
    padding: 7% 5% 10% 5%;
    color: #0066a1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url('images/docker-101.jpg');
    opacity: 0.8;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    color: white;
    background-color: black;
    opacity: 0.6;
    margin: 0.5%;
}

.college-block img {
    filter: grayscale(1);
}

.college-block img:hover {
    filter: grayscale(0);
}

#ieee-logo {
    padding: 20% 0% 20% 0%;
}

.card {
    border-radius: 5%;
}

.social-bottom {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: white;
    border-radius: 8%;
    margin: 0.5%;
    padding: 0.5%;
}

.social-bottom i {
    padding: 5%;
}

.page-footer {
    background: black;
    opacity: 0.7;
    color: white;
}


/*  SKEW CLOCKWISE  */

.skew-cc {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to right bottom, #0066a1 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}


/* SKEW COUNTER CLOCKWISE  */

.skew-c {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to left bottom, #fff 49%, #0066a1 50%);
}


/*======= Rotating logo ======*/

.no-js #loader {
    display: none;
}

.stat {
    position: absolute;
    top: 30%;
    width: 100vw;
    text-align: center;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: #eee;
    z-index: 9999;
}

#loader.se-pre-con {
    display: none;
    height: 100vh;
}

.animate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    35% {
        -ms-transform: rotate(180deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    35% {
        -moz-transform: rotate(180deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    35% {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 991px) {
    .hide-div {
        display: none;
    }
}